@(user: User, twitterUserList: List[TwitterUser])(implicit messages: Messages, flash: Flash)

@main(Messages("UserList"), user) {
    <div class="row">
        <aside class="col-xs-4">
            <div class="panel panel-default">
                @for(twitterUser <- twitterUserList) {
                    <div class="panel-heading">
                        <h3 class="panel-title">@twitterUser.screenName</h3>
                    </div>
                    <div class="panel-body">
                        <img class="media-object img-rounded img-responsive" src="@{twitterUser.profileImageUrl}" alt="">
                    </div>
                }
            </div>
        </aside>
        <div class="col-xs-8">

        </div>
    </div>
}
