@import b3.vertical.fieldConstructor
@import helper._
@import play.filters.csrf.CSRF.Token

@(user: User, fileForm: Form[String])(implicit messages: Messages, flash: Flash, token: Token)

@main(Messages("ApplicationName"), user) {
    <div class="row">
        <aside class="col-md-4">
            @b3.formCSRF(routes.PostController.upload(), 'enctype -> "multipart/form-data") {
                @b3.file(fileForm("file"), '_label -> "File (上限20MB)", 'class -> "form-control")
                @b3.submit('class -> "btn btn-primary btn-block") {
                    @Messages("Upload")
                }
            }
        </aside>
    </div>
}

